body {
  background-color: burlywood;
  text-align: center;
}
body {
  color: red;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
  font-size: large;
  color: orchid;
}
